nav {
  background-color: rgb(149, 167, 216);
}

nav.nav-mobile li, .brand-logo {
  color: black !important;
}

.footer-copyright {
  text-align: center;
  width: 100%;
  padding: 20px;
  background: rgb(149, 167, 216);
  font-weight: bold;
}

.list-item {
  border-bottom: 1px solid black;
  list-style-type: none;
}

.info-box {
  border-bottom: 2px solid grey;
  overflow: hidden;
  padding: 20px;
}

.author-info {
  display: inline-block;
}

img {
  width: 250px;
}

iframe {
  float: right;
}

.waves-effect {
  background-color: darkslateblue;
  margin: 10px;
}

.waves-effect:hover {
  background-color: darkgrey;
}

#input_text {
  border: 1px solid rgb(133, 131, 131);
}

#textarea1 {
  height: 300px;
  border: 1px solid rgb(133, 131, 131);
} 

h2 {
  text-align: center;
}

form {
  margin-bottom: 100px;
}